#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* margin: 0 auto; */

  min-height: 100%;
  width: 100%;
  max-width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

.container-page-perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 15vh;
  justify-self: center;
  gap: 5%;

  button {
    background: rgb(211, 0, 74);
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 20vh;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-bottom: 50px;
    cursor: pointer;
  }
  button:hover {
    background: rgb(141, 0, 0);
  }
}
