.productos {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .container-text {
    display: flex;
    position: relative;
    height: 20px;
    .ver-todo {
      position: absolute;
      right: 0;
      color: black;
      cursor: pointer;
    }
  }

  .container-productos {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
    width: 100%;

    .fila-producto {
      overflow-x: auto;
      position: relative;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      height: 100px;
      padding: 10px;
    }

    .img-prodcuto {
      height: 100px;
    }
  }
}
