#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* margin: 0 auto; */

  min-height: 100%;
  width: 100%;
  max-width: 100vw;
  min-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

.container-page-productos {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 15vh;
  min-height: 80vh;
  justify-self: center;
  gap: 5%;

  label {
    position: absolute;
    top: -30px;
  }

  .categorias {
    min-width: 160px;
  }

  .paneles {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100%;
    justify-self: center;
  }
}
